/* .main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: black;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    background-color: aqua;
}

.main-nav__item a:active {
    color: yellow;
}

.main-nav__item a::after {
    content: " | ";
} */

main {
    width: 100%;
    height: 500px;
    border: 10px solid red;
    padding: 20px 35px;
}