/* .main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: black;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    background-color: aqua;
}

.main-nav__item a:active {
    color: yellow;
}

.main-nav__item a::after {
    content: " | ";
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: serif;
    color: purple;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-family: monospace;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li{
    display: inline-block
}

.nav a {
    color: white;
    background-color: aqua;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}